body {
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    background-color: #161616;
    color: #eeeeee;
    margin-top: 2%;
    line-height: 1.6;
}
p {
	font-size: 22pt;
    margin-top: 2%;
}
h1 {
	text-align: left;
	font-size: 24pt;
}
h2 {
    font-size: 22pt;
    font-weight: 900;
}
h3 {
	text-align: center;
	font-size: 20pt;
}
h4 {
	font-size: 18pt;
}
* {
    box-sizing: border-box;
}

/* https://www.w3schools.com/css/css_navbar.asp start */
.navbar {

}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar li {
    float: left;
}
.navbar li a {
    display: block;
    color: #eeeeee;
    margin: 0 30px 0 30px;
    text-decoration: none;
    font-size: 20pt;
}
.navbar li a:hover {
    color: #26e2c0;
}
/* https://www.w3schools.com/css/css_navbar.asp end */

.placeholder {
    color: #454545;
}

.right {
    right: 0;
}

.left {
    left: 0;
}

.gap {
    margin-top: 5%;
}